div.aside_wrap
	div.patient_img img
	div.item-list
		div.item
			span Paciente
			span Daniela R.
		div.item
			span EDAD
			span 29
		div.item
			span Última consulta
			span 22/11/16
		div.item
			span Tipo de sangre
			span A+
		div.item
			span Curpo
			span 00000000000000000
