div.main__consulta.four
	article
		div.component_wrap
			div.component
				div.component__title titulo
				div.component__container contenido
	article
		div.component_wrap
			div.component
				div.component__title titulo
				div.component__container contenido
	article
		div.component_wrap
			div.component
				div.component__title titulo
				div.component__container contenido
	article
		div.component_wrap
			div.component
				div.component__title titulo
				div.component__container contenido
