.main__consulta
	display flex
	flex-wrap wrap
	flex-basis 100%
	>article
		display flex
		div.component_wrap
			padding 0.7em
			display flex
			flex-flow column
			width 100%
			.component
				background-color white
				display flex
				flex-flow column
				flex-grow 2
				&__title
					background-color $salutis3
					color white
					padding 0.2em
				&__container
					display flex
					padding 0.2em
.main__consulta.one
	>article
		width 100%
.main__consulta.three_or_tow
	>article
		width 50%
	>article:nth-child(3)
		width 100%
.main__consulta.four
	>article
		width 50%
