.footer_wrap
	padding 1em
	color white
	display flex
	align-items center
	justify-content space-between
	.right
		display flex
	.center
		display flex
// buttons
button.circle
	background white
	padding 0.2em
	color gray
	width 3em
	height 3em
	border none
	border-radius 5em
	text-transform uppercase
	margin-left 0.5em
	margin-right 0.5em
button.pdf
	background white
	padding 0.2em
	color gray
	width 7em
	border none
	border-radius 5em
	text-transform uppercase
	