div.footer_wrap
	div.left Lorem Ipsum Dolor
	div.center
		button.pdf Pdf
	div.right
		button.circle
			img(src="images/print.svg")
		button.circle
			img(src="images/save.svg")
		button.circle
			img(src="images/delete.svg")