div.icons_wrap
	a(href="")
		div.icon
			img(src="images/consultas.svg")
		span Consultas
	a(href="")
		div.icon
			img(src="images/exploracion.svg")
		span Consultas
	a(href="")
		div.icon
			img(src="images/diagnostico.svg")
		span Consultas
	a(href="")
		div.icon
			img(src="images/recetas.svg")
		span Consultas
	a(href="")
		div.icon
			img(src="images/plantillas.svg")
		span Consultas
	a(href="")
		div.icon
			img(src="images/imagenes.svg")
		span Consultas
