.icons_wrap
	display flex
	>a
		width 16.66%
		display flex
		align-items center
		justify-content center
		text-decoration none
		transition ease 0.3s all
		&:visited
			color gray
		&:hover
			background white
		span
			margin-left 1em
			colot gray
			font-size 1.2em


